.transcript.oneliner {
	height:120px;
	overflow-y:auto;
}
.t-column .hit-body {
	height:450px;
	overflow-y:auto;
}
.transcript.oneliner .speaker-label {
  display: none;
}
.transcript.oneliner .tier {
  display: none;
}
.transcript.oneliner .playing .tier.active {
  display: block;
}
